body {
  background-image: linear-gradient(#5f5f5f, #333333);
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #e4ab1d;
  font-size: 65px;
}

.player {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.controls {
  visibility: hidden;
  opacity: 0;
  width: 50%;
  height: 5.5vh;
  border-radius: 10px;
  bottom: 10px;
  background-color: black;
  box-shadow: 3px 3px 5px black;
  transition: 0.5s all;
  display: flex;
  flex-direction: row;
  align-self: center;
  z-index: 2;
}

video {
  margin-bottom:  -3%;
  padding: 0px;
  align-self: center;
  width: 50%;
}

.fullscreen {
  width: 100%;
}

/* .player:hover .controls {
  opacity: 1;
} */

.player .controls:hover {
  opacity: 1;
}

.controls-display {
  opacity: 1;
}

button {
  flex-basis: 7%;
  padding: 0px;
  display: flex;
  justify-content: center;
}

button > i {
  font-size: 2em;
  padding: 0 0.5em;
  color: #3f3f3f;
}

.volume-div {
  flex-basis: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.volume-div button {
  flex-grow: 1;
  background-color: #eaeaea;
  border: 50px;
}

.speed {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  position: relative;
}

/* button:before {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  content: attr(data-icon);
  color: #aaa;
  text-shadow: 1px 1px 0px black;
} */

.timer {
  line-height: 38px;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 0px black;
  color: white;
  flex: 5;
  position: relative;
}

.timer div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  top: 0;
  width: 0;
  height: 38px;
  z-index: 2;
}

.timer span {
  position: absolute;
  z-index: 3;
  left: 19px;
}
